@model IEnumerable<AnimalAdoptionWebSite.Models.Animal>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/card.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3 m-3 flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="@item.PHOTO" alt="Avatar" style="width:300px;height:200px;">
                    </div>
                    <div class="flip-card-back">
                        <p class="card-text">
                            <br /><br />
                            @localizer["İsim"] : @Html.DisplayFor(modelItem => item.NAME) <br />
                            @localizer["Cinsi"] : @Html.DisplayFor(modelItem => item.GENUS) <br />
                            @localizer["Yaşı"] : @Html.DisplayFor(modelItem => item.AGE) <br />
                            @localizer["Şehir"] : @Html.DisplayFor(modelItem => item.CITY)
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
