@model AnimalAdoptionWebSite.Models.Animal
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "DetailsOfAnimal";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h3 style="margin-top:30px;">@ViewBag.animalName @localizer["Bilgileri"]</h3>

<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th>
                @localizer["Tür Adı"]
            </th>
            <th>
                @localizer["İsim"]
            </th>
            <th>
                @localizer["Cins"]
            </th>
            <th>
                @localizer["Yaş"]
            </th>
            <th>
                @localizer["Şehir"]
            </th>
            <th>
                @localizer["Fotoğraf"]
            </th>
            <th>
                @localizer["Mevcut Durumu"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => modelItem.Kind.TYPE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.GENUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.AGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CITY)
            </td>
            <td>
                <img src="@Model.PHOTO" alt="Alternate Text" style="width:80px;height:40px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.STATUS)
            </td>
            <td>
            </td>
        </tr>

    </tbody>
</table>
