@model IEnumerable<AnimalAdoptionWebSite.Models.Animal>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.PHOTO" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                            @localizer["İsmi"] : @Html.DisplayFor(modelItem => item.NAME) <br />
                            @localizer["Cinsi"] : @Html.DisplayFor(modelItem => item.GENUS) <br />
                            @localizer["Yaşı"] : @Html.DisplayFor(modelItem => item.AGE) <br />
                            @localizer["Şehir"] : @Html.DisplayFor(modelItem => item.CITY)
                        </p>
                        <a asp-action="CreateAdoption" asp-route-id="@item.ANIMAL_ID" class="btn btn-info">@localizer["Sahiplen"]</a>

                    </div>
                </div>
            </div>

        }
    </div>

</div>
