@model IEnumerable<AnimalAdoptionWebSite.Models.Adoption>

@{
    ViewData["Title"] = "ListOfAdoption";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h3 style="margin-top:30px;">Sahiplenme Geçmişiniz</h3>

<table class="table table-striped">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Member.NAMESURNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE)
            </td>
            <td>
                <a asp-action="DetailsOfAnimal" asp-route-id="@item.Animal.ANIMAL_ID" class="btn btn-success">Detaylar</a>
            </td>
        </tr>
}
    </tbody>
</table>
