@model AnimalAdoptionWebSite.Models.Admin
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<section>
    <div class="container">
        <h3 class="text-center p-3">@localizer["Giriş Yap"]</h3>
        <div class="row">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-action="Index" method="post">
                    <div class="form-group">
                        <label>@localizer["Mail Adres"]</label>
                        <input asp-for="MAIL" type="email" class="form-control" aria-describedby="emailHelp" required="">
                    </div>
                    <div class="form-group">
                        <label>@localizer["Şifre"]</label>
                        <input asp-for="PASSWORD" type="password" class="form-control" required="">
                    </div>
                    <button type="submit" id="login" class="btn btn-success submit mb-4">@localizer["Giriş Yap"]</button>
                    <p><a asp-controller="Register" asp-action="Index"> @localizer["Hesabın yok mu?"]</a></p>
                </form>
            </div>
        </div>
    </div>
</section>

@*giriş bilgileri eksik veya hatalıysa mesaj döndüren script*@
@*@if (TempData["error"] != null)
{
    <script>
        $('#login').click(function () {
            alert('@TempData["error"]');
        });
    </script>
}
else
{
    <script>
        $('#login').click(function () {
            alert("Giriş işlemi başarılı.");
        });
    </script>
}*@