@model IEnumerable<AnimalAdoptionWebSite.Models.Adoption>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/card.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3 m-3">
                <div class="card adoptionList" style="width: 18rem;">
                    <img class="card-img-top" style="width:auto; height:200px;" src="@item.Animal.PHOTO" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">
                            Üye : @Html.DisplayFor(modelItem => item.Member.NAMESURNAME)
                            <hr />
                            Üye iletişim : @Html.DisplayFor(modelItem => item.Member.MAIL)
                            <hr />
                            Hayvan : @Html.DisplayFor(modelItem => item.Animal.NAME)
                            <hr />
                            Sahiplenme tarihi : @Html.DisplayFor(modelItem => item.DATE)
                        </p>

                    </div>
                </div>
            </div>

        }
    </div>

</div>


