@model IEnumerable<AnimalAdoptionWebSite.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h3 style="margin-top:30px;">Üye Tablosu</h3>

<table class="table table-responsive-lg table-hover">
    <thead>
        <tr style="text-align: center;">
            <th>
                @Html.DisplayNameFor(model => model.NAMESURNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PASSWORD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONENUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ABOUT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="text-align: center;">
            <td>
                @Html.DisplayFor(modelItem => item.NAMESURNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PASSWORD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONENUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ABOUT)
            </td>
            <td>
                <a asp-action="GetMember" asp-route-id="@item.MEMBER_ID" class="btn btn-warning">Düzenle</a>
                <a asp-action="DeleteMember" asp-route-id="@item.MEMBER_ID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>

